* {
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  font-size: 62.5%;
}
img {
  height: 85vh;
  width: max-content;
  vertical-align: middle;
  display: inline-block;
  object-fit: contain;
}
.desktop-container{
  background: rgb(249, 236, 231);

}

.owl-stage-outer {
  /* background: lawngreen; */
  /* z-index: 9999; */
  cursor: pointer;
}
.owl-carousel {
   height: 100vh;
}

.circleWrapper {
  height: 80vh;
  width: 55vw;
  /* background: violet; */
  border: 1px solid black;
  position: absolute; 
  top: 5%;
  left: 23%;
  z-index: 99;
}
.circle {
  height: 10rem;
  width: 60px;
  /* background: chocolate; */
  position: relative;
  cursor: pointer;
  background: rgb(29, 29, 28) !important;
  margin: 2px;
  border: 1px solid white;
  color: white;
  font-size: 3rem;
}
.circle1 {
  top: 12%;
  left: 23%;
  transform: rotate(40deg);
}
.circle2 {
  top: 20%;
  left: 15%;
  /* transform: rotate(-40deg); */
}
.circle3 {
  top: 29%;
  left: 25%;
  transform: rotate(-40deg);
}
.circle4 {
  top: 18%;
  left: 45%;
  transform: rotate(90deg);
}
.circle5 {
  top: -13%;
  left: 65%;
  transform: rotate(40deg);
}
.circle6 {
  bottom: 62%;
  left: 70%;
  /* transform: rotate(40deg); */
}
.circle7 {
  bottom: 120%;
  left: 55%;
  transform: rotate(-40deg);
}

.circle2_{
  height: 8vh;
  width: 8vw;
  font-size: 5rem;
  color: brown;
  background: violet;
  border: 1px solid black;
  position: relative; 
  top: 15%;
  cursor: pointer;

}
.circleWrapper2_ {
  height: 80vh;
  width: 55vw;
  background:rgba(29, 29, 28, 0.11);
  position: absolute;
  left: 21%;
  border: 1px solid black;
  z-index: 9;


}
.circle2_1 {
  left: 43%;
}
.circle2_2{
  height: 18vh;
  width: 4vw;
  left: 18%;
  top: 25%;
  transform: rotate(90deg);
}
.circle2_3{
  left: 33%;
  top: 50%;
  transform: rotate(45deg);
}
.circle2_4{
  left: 63%;
  top: 33%;
  transform: rotate(-45deg);
}
.circle2_5{
  height: 18vh;
  width: 4vw;
  left: calc(100% - 20%);
  top: calc(100% - 120%);
  transform: rotate(90deg);
}


@media only screen and (max-width: 1100px) {
  html {
    font-size: 55%;
  }
  .circle1 {
    top: 12%;
    left: 23%;
    transform: rotate(40deg);
  }
  .circle2 {
    top: 20%;
    left: 8%;
    /* transform: rotate(-40deg); */
  }
  .circle3 {
    top: 33%;
    left: 22%;
    transform: rotate(-40deg);
  }
  .circle4 {
    top: 25%;
    left: 45%;
    transform: rotate(90deg);
  }
  .circle5 {
    top: -13%;
    left: 70%;
    transform: rotate(40deg);
  }
  .circle6 {
    bottom: 62%;
    left: 70%;
    /* transform: rotate(40deg); */
  }
  .circle7 {
    bottom: 110%;
    left: 55%;
    transform: rotate(-40deg);
  }
  
}

@media only screen and (max-width: 1000px){
  .circle2 {
    top: 20%;
    left: 5%;
    /* transform: rotate(-40deg); */
  }
  .circle3 {
    top: 35%;
    left: 18%;
    transform: rotate(-40deg);
  }
  .circle4 {
    top: 25%;
    left: 45%;
    transform: rotate(90deg);
  }
  .circle5 {
    top: -13%;
    left: 70%;
    transform: rotate(40deg);
  }
  .circle6 {
    bottom: 67%;
    left: 77%;
    /* transform: rotate(40deg); */
  }

}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .circle2 {
    left: 5%;
  }
  .circle3 {
    top: 33%;
    left: 15%;
    transform: rotate(-40deg);
  }
  .circle4 {
    top: 25%;
    left: 45%;
    transform: rotate(90deg);
  }
  .circle5 {
    top: -10%;
    left: 75%;
    transform: rotate(40deg);
  }
  .circle6 {
    bottom: 62%;
    left: 78%;
    /* transform: rotate(40deg); */
  }
  .circle7 {
    bottom: 100%;
    left: 55%;
    transform: rotate(-40deg);
  }
}

@media only screen and (max-width: 867px) {
  /* FOR CAROUSEL - 1 */
  .circle6 {
    bottom: 62%;
    left: 80%;
  }
  .circle7 {
    bottom: 95%;
  }
  /* FOR CAROUSEL - 2 */
  .circle2_1 {
    top: 22%;
    left: 43%;
  }
}

@media only screen and (max-width: 767px){
  html{
    /* font-size: n; */
  }
  /* OF Carousel 1 */
  .circle2 {
    left: 5%;
  }
  .circle3 {
    top: 28%;
  }
  .circle4 {
    top: 15%;
  }
  .circle6 {
    bottom: 58%;
  }
  .circle7 {
    bottom: 90%;
  }
  /* OF Carousel 2 */
  .circle2_1 {
    top: 22%;
    left: 43%;
  }
  .circle2_2{
    height: 15vh;
    width: 7vw;
    left: 12%;
    top: 27%;
    transform: rotate(90deg);
  }
  .circle2_3{
    left: 30%;
    top: 47%;
    transform: rotate(45deg);
  }
  .circle2_5{
    height: 15vh;
    width: 7vw;
    left: calc(100% - 20%);
    top: calc(100% - 115%);
    transform: rotate(90deg);
  }
  
}
/* 

.carousel-wrapper {
  width: 1000px;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
} */
button {  
  outline: none; 
  margin-top: -10px !important;
  padding-top: -10px !important;
}

.owl-next, .owl-prev{
  width: 50px;
  transition: all 300ms ease-in-out;
  outline: none;
}

button span{
  height: 10px;
  width: 40px;
  font-size: 40px;
}