* {
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  font-size: 62.5%;
}

/* LOADER_______________ */
.loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
      /* display: none; */
  }
}
.thumb {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}
/* CAROUSEL WORKS---------------- */
img {
  height: 75vh;
  width: max-content;
  vertical-align: middle;
  display: inline-block;
  object-fit: contain;
}
.desktop-container, .mobile-container{
  background: rgb(249, 236, 231);
}


.owl-stage-outer {
  /* background: lawngreen; */
  /* z-index: 9999; */
  cursor: pointer;
}
.owl-carousel {
  height: 100vh;
}

/* CAROUSEL - 1 */
.circleWrapper {
  height: 70vh;
  width: 55vw;
  /* background: violet; */
  /* border: 1px solid black; */
  position: absolute;
  top: 5%;
  left: 23%;
  z-index: 99;
  
}
.circle {
  height: 10rem;
  width: 60px;
  /* background: chocolate; */
  /* border: 1px solid black; */
  position: relative;
  cursor: pointer;
  margin: 2px;
  /* 
  border: 1px solid white; 
  color: white; 
  background: rgb(29, 29, 28) !important; 
  */
  font-size: 3rem;
}
.circle1 {
  top: 12%;
  left: 23%;
  transform: rotate(40deg);
}
.circle2 {
  top: 20%;
  left: 15%;
  /* transform: rotate(-40deg); */
}
.circle3 {
  top: 29%;
  left: 25%;
  transform: rotate(-40deg);
}
.circle4 {
  top: 12%;
  left: 45%;
  transform: rotate(90deg);
}
.circle5 {
  top: -20%;
  left: 65%;
  transform: rotate(40deg);
}
.circle6 {
  bottom: 72%;
  left: 70%;
  /* transform: rotate(40deg); */
}
.circle7 {
  position: absolute;
  top: 0;
  /* bottom: 140%; */
  left: 55%;
  transform: rotate(-40deg);
}
/* SVG CIRCLE */
.progress-ring{
  position: absolute;
  top: 26%;
  left: 39%;
}
svg circle {
  stroke: transparent;
  cursor: pointer;
}
circle .unclickable{
  stroke: none;
  cursor: default;
}


/* html, body {
  background-color: #2962FF;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
} */

/* CAROUSEL - 2 */
.circleWrapper2_ {
  height: 70vh;
  width: 55vw;
  /* background: rgba(29, 29, 28, 0.11); */
  position: absolute;
  left: 21%;
  /* border: 1px solid black; */
  z-index: 9;
}
.circle2_ {
  height: 8vh;
  width: 8vw;
  font-size: 5rem;
  /* 
  color: brown; 
  background: violet; 
  */
  /* border: 1px solid black;  */
  position: relative;
  top: 15%;
  cursor: pointer;
}
.circle2_1 {
  left: 43%;
}
.circle2_2 {
  height: 18vh;
  width: 4vw;
  left: 26%;
  top: 25%;
  transform: rotate(90deg);
}
.circle2_3 {
  left: 33%;
  top: 40%;
  transform: rotate(45deg);
}
.circle2_4 {
  left: 60%;
  top: 27%;
  transform: rotate(-45deg);
}
.circle2_5 {
  height: 18vh;
  width: 4vw;
  left: calc(100% - 25%);
  top: calc(100% - 130%);
  transform: rotate(90deg);
}

/* CAROUSEL - 3 */
.circleWrapper3_ {
  height: 70vh;
  width: 55vw;
  /* background: rgba(29, 29, 28, 0.11); */
  position: absolute;
  left: 21%;
  /* border: 1px solid black; */
  z-index: 9;
}
.circle3_ {
  height: 8vh;
  width: 8vw;
  font-size: 5rem;
  /* 
  color: brown; 
  background: violet; 
  */
  /* border: 1px solid black;  */
  position: relative;
  top: 15%;
  cursor: pointer;
}
.circle3_1 {
  left: 63%;
  height: 10vh;
}
.circle3_2{
  left: 20%;
}
.circle3_3{
  left: 20%;
  top: 40%;
}
.circle3_4{
  left: 45%;
  top: 47%;
}
.circle3_5{
  height: 10vh;
  left: 70%;
}

/* CAROUSEL - 4 */
.circleWrapper4_ {
  height: 70vh;
  width: 55vw;
  position: absolute;
  left: 21%;
  /* background: rgba(29, 29, 28, 0.11); */
  /* border: 1px solid black; */
  z-index: 9;
}
.circle4_ {
  height: 8vh;
  width: 8vw;
  font-size: 5rem;
  /*
  color: brown;
  background: violet;
  */
  /* border: 1px solid black; */
  position: relative;
  top: 15%;
  cursor: pointer;
}
.circle4_1{
  top: 17%;
  left: 24%;
}
.circle4_2{
  top: 10%;
  left: 65%;
}
.circle4_3{
  left: 16%;
}
.circle4_4{
  left: 68%;
}
.circle4_5{
  left: 14%;
  top: 20%;
}
.circle4_6{
  left: 25%;
  top: 24%
}
.circle4_7{
  top: 3%;
  left: 73%;
}
.circle4_8{
  top: 8%;
  left: 58%;
}

/* CAROUSEL - 5 */
.circleWrapper5_ {
  height: 70vh;
  width: 55vw;
  position: absolute;
  left: 21%;
  /* background: rgba(29, 29, 28, 0.11); */
  /* border: 1px solid black; */
  z-index: 9;
}
.circle5_ {
  height: 8vh;
  width: 12vw;
  font-size: 5rem;
  /*
  color: brown;
  background: violet;
  */
  /* border: 1px solid black; */
  position: relative;
  top: 40%;
  cursor: pointer;
}
.circle5_1{
  top: 67%;
  left: 9%;
}
.circle5_2{
  top: 55%;
  left: 70%;
}

@media only screen and (max-width: 1200px){

  .progress-ring{
    top: 26%;
    left: 36%;
  }
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 55%;
  }
  /* CAROUSEL - 1 */
  .circle1 {
    top: 12%;
    left: 23%;
    transform: rotate(40deg);
  }
  .circle2 {
    top: 20%;
    left: 8%;
    /* transform: rotate(-40deg); */
  }
  .circle3 {
    top: 28%;
    left: 22%;
    transform: rotate(-40deg);
  }
  .circle4 {
    top: 10%;
    left: 45%;
    transform: rotate(90deg);
  }
  .circle5 {
    top: -33%;
    left: 66%;
    transform: rotate(40deg);
  }
  .circle6 {
    bottom: 80%;
    left: 70%;
    /* transform: rotate(40deg); */
  }
  .circle7 {
    bottom: 140%;
    left: 58%;
    transform: rotate(-40deg);
  }
}

@media only screen and (max-width: 1000px) {
  .circle2 {
    top: 20%;
    left: 5%;
    /* transform: rotate(-40deg); */
  }
  .circle3 {
    top: 25%;
    left: 15%;
    transform: rotate(-40deg);
  }
  .circle4 {
    top: 7%;
    left: 45%;
    transform: rotate(90deg);
  }
  .circle5 {
    left: 70%;
    transform: rotate(40deg);
  }
  .circle6 {
    bottom: 90%;
    left: 73%;
    /* transform: rotate(40deg); */
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .circle4_4{
    top: 10%;
    left: 72%;
  }
  .progress-ring{
    top: 27%;
    left: 33%;
  }
  svg circle{
    stroke-width: 20;
    r: 65;
  }
} 
@media only screen and (max-width: 867px) {
  /* FOR CAROUSEL - 1 */
  .circle1{
    left: 12%;
  }
  .circle2 {
    left: 5%;
  }
  .circle3 {
    top: 27%;
    left: 15%;
    transform: rotate(-40deg);
  }
  .circle4 {
    top: 10%;
    left: 45%;
    transform: rotate(90deg);
  }
  .circle5 {
    top: -27%;
    left: 66%;
    transform: rotate(40deg);
  }
  .circle6 {
    bottom: 80%;
    left: 74%;
  }
  .circle7 {
    bottom: 117%;
    left: 60%;
  }
  /* FOR CAROUSEL - 2 */
  .circle2_1 {
    top: 17%;
    left: 43%;
  }
  .circle2_2 {
    height: 18vh;
    width: 4vw;
    left: 17%;
    top: 25%;
    transform: rotate(90deg);
  }
  .circle2_3 {
    left: 30%;
    top: 42%;
    transform: rotate(45deg);
  }
  .circle2_4 {
    left: 66%;
    top: 27%;
    transform: rotate(-45deg);
  }
  .circle2_5 {
  height: 18vh;
  width: 4vw;
  left: calc(100% - 15%);
  top: calc(100% - 130%);
  transform: rotate(90deg);
}
  /* FOR CAROUSEL - 3 */
  .circle3_1 {
    left: 67%;
    height: 10vh;
  }
  .circle3_2{
    left: 15%;
  }
  .circle3_3{
    left: 10%;
    top: 40%;
  }
  .circle3_5{
    height: 10vh;
    left: 84%;
  }
  /* FOR CAROUSEL - 4 */
  .circle4_1{
    top: 13%;
    left: 20%;
  }
  .circle4_2{
    top: 5%;
    left: 72%;
  }
  .circle4_3{
    left: 12%;
  }
  .circle4_4{
    left: 82%;
  }
  .circle4_5{
    top: 20%;
    left: 5%;
  }
  .circle4_7{
    top: 5%;
    left: 79%;
  }
}

@media only screen and (max-width: 767px) {
  html {
    /* font-size: n; */
  }
  /* OF Carousel 1 */
  .circle2 {
    left: 5%;
  }
  .circle3 {
    top: 28%;
  }
  .circle4 {
    top: 15%;
  }
  .circle6 {
    bottom: 58%;
  }
  .circle7 {
    bottom: 90%;
  }
  /* OF Carousel 2 */
  .circle2_1 {
    top: 22%;
    left: 43%;
  }
  .circle2_2 {
    height: 15vh;
    width: 7vw;
    left: 12%;
    top: 27%;
    transform: rotate(90deg);
  }
  .circle2_3 {
    left: 30%;
    top: 47%;
    transform: rotate(45deg);
  }
  .circle2_5 {
    height: 15vh;
    width: 7vw;
    left: calc(100% - 20%);
    top: calc(100% - 115%);
    transform: rotate(90deg);
  }
  /* FOR CAROUSEL  - 3 */
  .circle3_1{
    top: 25%;
  }

  /* FOR CAROUSEL  - 4 */
  .circle4_2{
    top: 14%;
    left: 70%;
  }
  .circle4_3{
    left: 8%;
  }
  .circle4_6{
    left: 20%;
    top: 30%
  }
  .circle4_8{
    top: 13%;
    left: 62%;
  }
  /* FOR CAROUSEL  - 5 */
  .circle5_1{
    top: 63%;
    left: 6%;
  }
  .circle5_2{
    top: 50%;
    left: 73%;
  }
  
}

/* MOBILE LAYOUT WORK */
.mobile-container .owl-nav, .mobile-container .owl-dots{
  /* background-color: rgba(165, 42, 42, 0.212); */
  /* width: max-content; */
  position: relative;
  bottom: 10%;
}
.mobile-container .owl-nav{
  bottom: 20%;
}

.owl-dots .owl-dot span{
  background-color: rgb(249, 236, 231);
}

.mobile-container .owl-theme .owl-nav [class*='owl-'] {
  width: 20vw;
  height: 10vh;
  /* color: #FFF; */
  font-size: 14px;
  /* transform: translateX(45px); */
  margin: 5px 85px;
  padding: 14px 7px;
  /* background: #D6D6D6; */
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.mobile-container .owl-carousel .owl-nav button.owl-next{
  margin-right: 5px !important;
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  /* background: violet; */

}
.mobile-container .owl-carousel .owl-nav button.owl-prev{
  margin-left: 5px !important;
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  /* background: violet; */

}
.owl-dots:hover{
  color: rgb(249, 236, 231);
}
button {
   outline: none;
}

.owl-next,
.owl-prev {
  margin-bottom: 10px !important;
  width: 50px;
  transition: all 300ms ease-in-out;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}



button span {
  height: 10px;
  width: 40px;
  font-size: 40px;
}
